html,
body {
  background-color: rgba(128, 0, 128, 0.397);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section{
  min-height: 80vh;
}

.darkTheme {
  background-color: rgb(49, 1, 49);
  color: white;
  transition: 200ms;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
